$blue-1: #f0f3fa;
$blue-2: #cbdfff;
$blue-3: #a9c9fd;
$blue-4: #437bd4;
$red: #e80606;
$white: #fff;
$black: #000;
$grey-1:#dbdbdb;
$grey-2: #4e4e4e;
$orange: #f79618;
$green: #24ad5d;
$menu-height: 60px;

html {
    overflow-y: scroll;
}

html, body {
    margin: 0;
    padding: 0;
    background: $blue-1;
    font-family: 'Lato', sans-serif;
    color: $grey-2;
}

ul {
    padding: 0;
    margin: 0;
}

.navigation-container {
    width: 100%;
    height: $menu-height;
    background: $blue-2;
    position: relative;
    border-bottom: 1px solid $blue-3;
    .nav-items {
        position: absolute;
        right: 20px;
        ul {
            li {
                display: inline-block;
                line-height: $menu-height;
                vertical-align: middle;
                margin: 0 20px 0 20px;
                a {
                    color: $blue-4;
                    text-decoration: none;
                    font-weight: 600;
                    padding: 5px 10px 5px 10px;
                    letter-spacing: 2px;
                    font-size: 12px;
                    &:hover {
                        background: $blue-3;
                    }
                    &.active {
                        background: $blue-4;
                        color: $white;
                    }
                }
            }
        }
    }
}

.page-container {
    width: 100%;
}

.page-section {
    width: 100%;
    padding: 50px 0;
    &.white {
        background: $white;
    }
    &.blue-lighter {
        background: $blue-2;
    }
    &.blue-darker {
        background: $blue-4;
    }
}

.graph {
    padding: 10px;
}

.float-left {
    float:left;
}

.section-content {
    width: 1440px;
    margin: auto;
}

.loader-container {
    vertical-align: middle;
    display: static;
    margin: auto;
    .loader {
      float: none;
      margin: auto;
      border-radius: 50%;
      border: 4px solid $blue-3;
      border-top: 4px solid $blue-4;
      -webkit-animation: spin 1s linear infinite;
      animation: spin 1s linear infinite;
      width: 50px; 
      height: 50px;
    }
  
    @-webkit-keyframes spin {
      0% {
        -webkit-transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
      }
    }
  
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
}

.form-input {
    margin: 5px 0;
    font-family: 'Lato', sans-serif;
    position: relative;

    label {
        display: block;
        font-size: 12px;
        color: $blue-4;
        padding: 5px;
    }

    input[type=text],input[type=email],textarea {
        width: 100%;
        border: 1px solid $grey-1;
        outline: {
            outline-color: $blue-3;
        }
        box-sizing: border-box;
    }

    input[type=text],input[type=email] {
        height: 45px;
        padding: 5px 15px;
    }

    textarea {
        padding: 10px 15px;
        line-height: 20px;
    }

    .error-message {
        color: $red;
        font-size: 11px;
        outline: none;
        padding: 5px;
    }

    button {
        font-family: 'Lato', sans-serif;
        padding: 10px 15px;
        border: 0;
        background: none;
        cursor: pointer;
        transition: 0.3s;
        outline: none;
        &.white {
            background: $white;
            color: $black;
        }
        &.blue {
            border: 1px solid $blue-4;
            color: $blue-4;
            &:hover {
                background: $blue-4;
                color: $white;
            }
        }
        &.green {
            border: 1px solid $green;
            color: $green;
            &:hover {
                background: $green;
                color: $white;
            }
        }
        &.orange {
            border: 1px solid $orange;
            color: $orange;
            &:hover {
                background: $orange;
                color: $white;
            }
        }
        &.big {
            min-width: 100px;
            height: 60px;
            font-size: 20px;
            border-radius: 5px;
            box-sizing: border-box;
        }

    }

    .combobox-options {
        margin: 0;
        width: 100%;
        position: absolute;
        z-index: 999;
        margin-top: 1px;
        padding: 5px;
        background: #fff;
        border: 1px solid $blue-3;
        box-sizing: border-box;
        button.combobox-option {
            display: block;
            width: 100%;
            padding: 10px;
            text-align: left;
            background: #fff;
            border-bottom: 1px solid $blue-2;
            &:hover {
                background: $blue-3;
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
}

.error-content {
    width: 500px;
    text-align: center;
    margin: auto;
    .error-header {
        margin-bottom: 50px;
    }
    .error-image {
        margin: auto;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: url('../../images/dolan.jpg');
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
}

.form-section-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 30px;
    .other-form {
        padding: 10px;
        grid-column: 2/3;
    }
    .items-list {
        grid-column: 1/2;
    }
}

.register-form-button {
    margin-top: 30px;
    text-align: center;
}   

.other-form {
    background: $white;
    border: 1px solid $grey-1;
    border-radius: 10px;
    padding: 20px;
    .avatar-img {
        margin: auto;
        height: 80px;
        width: 80px;
        border: 1px solid $grey-1;
        padding: 5px;
        border-radius: 50%;
    }
}

.login-form-section-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 30px;
    padding: 10px;
}

.meeting-form-section-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 30px;
    padding: 10px;
}

.items-list {
    .list-item {
        transition: 0.3s;
        //background: $grey-1;
        padding: 5px 10px;
        margin-bottom: 5px;
        //&:hover {
        //    background: $orange;
        //}
    }
}

.branch-detail {
    min-height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.map-container {
    width: 100%;
    height: 400px;
    .map {
      max-height: 300px;
    }
  }

.marker {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: $green;
} 

.summary-section-container {
    width: 800px;
    margin: auto;
    .summary-header {
        text-align: center;
        h1 {
            font-size: 46px;
        }
    }
    .summary-content {
        background: $white;
        border-radius: 10px;
        padding: 20px;
        margin: 0;     
        .timer {
            text-align: center;
            color: $blue-4;
            font-size: 50px;
            font-weight: bold;
            padding: 10px 0;
        }
        .price-list {
            margin: 40px 0;

            .price-list-item {
                margin: auto;
                padding: 15px 20px;
                width: 150px;
                border-bottom: 1px solid $grey-1;
                &:hover {
                    background: $grey-1;
                    cursor: pointer;
                }
                .price {
                    width: 50%;
                    display: inline-block;
                }
                .currency {
                    width: 50%;
                    display: inline-block;
                    text-align: center;
                    font-size: 22px;
                    .icon {
                        color: $blue-4;
                    }
                }
            }
        }
        .stop-container {
            margin-top: 40px;
            text-align: center;
        }
    }
}