html {
  overflow-y: scroll; }

html, body {
  margin: 0;
  padding: 0;
  background: #f0f3fa;
  font-family: 'Lato', sans-serif;
  color: #4e4e4e; }

ul {
  padding: 0;
  margin: 0; }

.navigation-container {
  width: 100%;
  height: 60px;
  background: #cbdfff;
  position: relative;
  border-bottom: 1px solid #a9c9fd; }
  .navigation-container .nav-items {
    position: absolute;
    right: 20px; }
    .navigation-container .nav-items ul li {
      display: inline-block;
      line-height: 60px;
      vertical-align: middle;
      margin: 0 20px 0 20px; }
      .navigation-container .nav-items ul li a {
        color: #437bd4;
        text-decoration: none;
        font-weight: 600;
        padding: 5px 10px 5px 10px;
        letter-spacing: 2px;
        font-size: 12px; }
        .navigation-container .nav-items ul li a:hover {
          background: #a9c9fd; }
        .navigation-container .nav-items ul li a.active {
          background: #437bd4;
          color: #fff; }

.page-container {
  width: 100%; }

.page-section {
  width: 100%;
  padding: 50px 0; }
  .page-section.white {
    background: #fff; }
  .page-section.blue-lighter {
    background: #cbdfff; }
  .page-section.blue-darker {
    background: #437bd4; }

.section-content {
  width: 1440px;
  margin: auto; }

.loader-container {
  vertical-align: middle;
  display: static;
  margin: auto; }
  .loader-container .loader {
    float: none;
    margin: auto;
    border-radius: 50%;
    border: 4px solid #a9c9fd;
    border-top: 4px solid #437bd4;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    width: 50px;
    height: 50px; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.form-input {
  margin: 5px 0;
  font-family: 'Lato', sans-serif;
  position: relative; }
  .form-input label {
    display: block;
    font-size: 12px;
    color: #437bd4;
    padding: 5px; }
  .form-input input[type=text], .form-input input[type=email], .form-input textarea {
    width: 100%;
    border: 1px solid #dbdbdb;
    outline-outline-color: #a9c9fd;
    box-sizing: border-box; }
  .form-input input[type=text], .form-input input[type=email] {
    height: 45px;
    padding: 5px 15px; }
  .form-input textarea {
    padding: 10px 15px;
    line-height: 20px; }
  .form-input .error-message {
    color: #e80606;
    font-size: 11px;
    outline: none;
    padding: 5px; }
  .form-input button {
    font-family: 'Lato', sans-serif;
    padding: 10px 15px;
    border: 0;
    background: none;
    cursor: pointer;
    transition: 0.3s;
    outline: none; }
    .form-input button.white {
      background: #fff;
      color: #000; }
    .form-input button.blue {
      border: 1px solid #437bd4;
      color: #437bd4; }
      .form-input button.blue:hover {
        background: #437bd4;
        color: #fff; }
    .form-input button.green {
      border: 1px solid #24ad5d;
      color: #24ad5d; }
      .form-input button.green:hover {
        background: #24ad5d;
        color: #fff; }
    .form-input button.orange {
      border: 1px solid #f79618;
      color: #f79618; }
      .form-input button.orange:hover {
        background: #f79618;
        color: #fff; }
  .form-input .combobox-options {
    margin: 0;
    width: 100%;
    position: absolute;
    z-index: 999;
    margin-top: 1px;
    padding: 5px;
    background: #fff;
    border: 1px solid #a9c9fd;
    box-sizing: border-box; }
    .form-input .combobox-options button.combobox-option {
      display: block;
      width: 100%;
      padding: 10px;
      text-align: left;
      background: #fff;
      border-bottom: 1px solid #cbdfff; }
      .form-input .combobox-options button.combobox-option:hover {
        background: #a9c9fd; }
      .form-input .combobox-options button.combobox-option:last-child {
        border-bottom: none; }

.error-content {
  width: 500px;
  text-align: center;
  margin: auto; }
  .error-content .error-header {
    margin-bottom: 50px; }
  .error-content .error-image {
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: url("../../images/dolan.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto; }

.form-section-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 30px; }
  .form-section-grid .other-form {
    background: #fff;
    padding: 10px;
    grid-column: 2/3; }
  .form-section-grid .items-list {
    grid-column: 1/2; }

.items-list .list-item {
  transition: 0.3s;
  background: #dbdbdb;
  padding: 5px 10px;
  margin-bottom: 5px; }
  .items-list .list-item:hover {
    background: #f79618; }

.branch-detail {
  min-height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 22px;
  font-weight: 600; }

.map-container {
  width: 100%;
  height: 400px; }
  .map-container .map {
    max-height: 300px; }

.marker {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #24ad5d; }
